/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
body {
	font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1290px;
	margin: 0 auto;
}
.content {
	flex: 1 1 auto;
}
.hi {
	background-color: rgb(126, 124, 124); padding: 50px 0;
}
.hi_row {
	display: flex;
	justify-content: space-between;
}
.hi_body {
	color: rgb(236, 236, 232);
	padding: 0 30px 0 0;
}
.hi_title {
	text-shadow:1px 1px 0 black;
	font-size: 30px;
	margin-bottom: 15px;
}
.hi_list li{
	background: url("../img/icons/icon.png") 0 1px no-repeat;
	text-shadow: 1px 1px 0 black;
	font-size: 16px;
	padding: 0 0 0 36px;
	margin-bottom: 16px;

	line-height: 20px;
}
.hi_list li:last-child{
	margin-bottom: 0;
}

.footer {
	background-color: rgb(126, 126, 126);

}
.footer_row {
	display: flex;
	height: 60px;
	justify-content: center;
	align-items: center;
}
.footer_text {
	font-size: 12px;
	letter-spacing: 1px;
}
/* ------WHAT------- */
.what {
	padding: 50px ;
}
.title {
	color: black;
	font-size: 24px;
	line-height: 36px;
}
.what_row {
	display: flex;
}
.what_title{
	margin: 0 0 20px 0;
}
.what_image{
	flex: 0 0 430px;

}
.what_body{
	flex: 1 1 auto;
	padding: 0 0 0 36px;
}
.what_text p {
	color: black;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 30px;

}
/* -------COLUMN--------- */
.columns {
	background-color: rgb(236, 236, 236);
	padding: 20px 0;

}
.columns_title {
	text-align: center;
	margin-bottom: 30px;
}
.columns_row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -8x;
}
.columns_column {
	flex: 0 1 50%;
	margin-bottom: 30px;
	padding: 0px 8px;

}
.item_row {
	display: flex;
}
.item_image {
	flex: 0 0 200px;
}
.item_body{
	flex: 1 1 auto;
	padding-left: 15px;
}
.item_title {
	font-size: 20px;
	line-height: 30px;
	color: black;
	margin-bottom: 13px;
}
.item_text {
	font-size: 16px;
	line-height: 24px;
	color: black;
}
/* -------VERTICAL--------- */
.vertical {
	padding: 50px 0px;
}
.vertical_title {
	text-align: center;
	margin-bottom: 29px;
}
.vertical_body{
	max-width: 990px;
	margin: 0px auto;
}
.vertical_row {
	display: flex;
	margin: 0px -20px;
}
.vertical_column {
	padding: 0px 20px;
	flex: 0 1 33.333%;
	display: flex;
	
}
.vertical_item {
	background-color: rgb(66, 65, 65);
	color: white;
	border: 1px solid rgb(34, 33, 33);
	border-radius: 5px;
	padding: 20px 0px;
	display: flex;
	flex-direction: column;

}
.vertical_subtitle {
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	padding: 12px 0px;
	
}
.vertical_label{
	text-align: center;
	background-color: white;
	color: rgb(66, 65, 65);
	font-size: 15px;
	padding: 23px 0px;
	text-transform: uppercase;


}
.vertical_text{
	padding: 20px;
	font-size: 14px;
	line-height: 24px;
	flex: 1 1 auto;
}
.vertical_text p{
	padding-bottom: 15px;
}
.vertical_btn{
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	background-color: white;
	text-align: center;
	color: rgb(66, 65, 65);
	display: block;
	margin: 0px 20px;
	text-align: center;
	border-radius: 5px;

}